<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lucky_xiao.myapplication" >

    <application
        android:versionCode="2"
        android:versionName="2.0"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name="com.example.lucky_xiao.clock.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
u
        </activity>

        <receiver android:name="com.example.lucky_xiao.clock.AppWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.lucky_xiao.braocastdemo.action.Alert" />
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget" />
        </receiver>

        <service
            android:name="com.example.lucky_xiao.clock.AlertService">
        </service>
    </application>
</manifest>
